<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../stylesheets/layout.css" type="text/css" />

    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
      integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
      crossorigin="anonymous"
    />
    <link
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:400,700"
      rel="stylesheet"
    />
    <link
      href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
      rel="stylesheet"
      id="bootstrap-css"
    />
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../stylesheets/detail.css" />
    <title>Bid Detail</title>
  </head>

  <body>
    <div class="container-fliud">
      <div class="wrapper row1">
        <header id="header" class="clear">
          <div id="hgroup">
            <h1><a href="#">Bit Online</a></h1>
            <h2>Best Online Auction Website In Vietnam</h2>
          </div>
          <nav>
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/login">Sign up/Sign in</a></li>
              <li><a href="#">Search</a></li>
            </ul>
          </nav>
        </header>
      </div>
      <div class="card">
        <div class="container">
          <div class="wrapper row">
            <div class="preview col-md-6">
              <div class="preview-pic tab-content">
                <div class="tab-pane active" id="pic-1">
                  <img src="../sp/2/1.jpg" />
                </div>
                <div class="tab-pane" id="pic-2">
                  <img src="../sp/2/1_thumbs.jpg" />
                </div>
                <div class="tab-pane" id="pic-3">
                  <img src="../sp/2/main_thumbs.jpg" />
                </div>
              </div>
              <ul class="preview-thumbnail nav nav-tabs">
                <li class="active">
                  <a data-target="#pic-1" data-toggle="tab"
                    ><img src="../sp/2/1_thumbs.jpg"
                  /></a>
                </li>
                <li>
                  <a data-target="#pic-2" data-toggle="tab"
                    ><img src="../sp/2/1_thumbs.jpg"
                  /></a>
                </li>
                <li>
                  <a data-target="#pic-3" data-toggle="tab"
                    ><img src="../sp/2/main_thumbs.jpg"
                  /></a>
                </li>
              </ul>
            </div>
            <div class="details col-md-6">
              <h3 class="product-title"><%= data[0].name_product%></h3>
              <div class="rating">
                <span class="review-no"><%= count%> bids</span>
              </div>
              <p class="product-description">
                <%= data[0].content%>
              </p>
              <h4 class="price">
                current price:
                <span>
                  $<%= data[0].now_price%>
                </span>
              </h4>
              <%if(isLogin){%>
              <div class="action">
                <button
                  class="add-to-cart btn btn-default btn-buy"
                  type="button"
                >
                  buy $<%= data[0].end_price%>
                </button>
                <button class="like btn btn-default" type="button">
                  <span class="fa fa-heart"></span>
                </button>
              </div>
              <div class="action">
                <input
                  id="bid_value"
                  type="number"
                  name="bid_price"
                  class="bid"
                  min="<%= data[0].now_price%>"
                  max="<%= data[0].end_price%>"
                  value="<%= data[0].now_price%>"
                  step="50000"
                />
                <button
                  class="add-to-cart btn btn-default btn-buy"
                  onclick="Bid()"
                >
                  bid
                </button>
              </div>
              <%}else{%>
              <h4 class="price">
                Buy:
                <span>
                  $<%= data[0].end_price%>
                </span>
              </h4>
              <%}%>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>
      function Bid() {
        var value = $("#bid_value").val();
        var a = <%= data[0].id%>;
        console.log(a)
        $.ajax({
          url: `/bid/${a}`,
          data: {bid_price:value},
          type: "PUT",
          success: function(data){
            setTimeout(
              window.location.reload()
            ,500)
          }
        });
      }
    </script>
  </body>
</html>
