<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Change Password</title>
    <link rel="stylesheet" href="../stylesheets/account.css" type="text/css" />
    <link
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
      rel="stylesheet"
      id="bootstrap-css"
    />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>
  <body>
    <!------ Include the above in your HEAD tag ---------->

    <div class="container emp-profile">
      <form method="post" action="/changepass">
        <div class="row">
          <div class="col-md-4">
            <div class="profile-img">
              <img
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS52y5aInsxSm31CvHOFHWujqUx_wWTS9iM6s7BAm21oEN_RiGoog"
                alt=""
              />
            </div>
          </div>
          <div class="col-md-6">
            <div class="profile-head">
              <h5>
                <%= data.fullname%>
              </h5>

              <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                  <a
                    class="nav-link active"
                    id="home-tab"
                    data-toggle="tab"
                    href="#home"
                    role="tab"
                    aria-controls="home"
                    aria-selected="true"
                    >About</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4"></div>
          <div class="col-md-8">
            <div class="tab-content profile-tab" id="myTabContent">
              <div
                class="tab-pane fade show active"
                id="home"
                role="tabpanel"
                aria-labelledby="home-tab"
              >
                <div class="row">
                  <div class="col-md-6">
                    <label>Email</label>
                  </div>
                  <div class="col-md-6">
                    <p><%= data.email%></p>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6">
                    <label>Password</label>
                  </div>
                  <div class="col-md-6">
                    <input
                      type="password"
                      name="newPassword"
                      placeholder="New Password"
                    />
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6">
                    <label>RePassword</label>
                  </div>
                  <div class="col-md-6">
                    <input
                      type="password"
                      name="rePassword"
                      placeholder="New RePassword"
                    />
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6">
                    <label>Old Password</label>
                  </div>
                  <div class="col-md-6">
                    <input
                      type="password"
                      name="oldPassword"
                      placeholder="Old Password"
                    />
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6">
                    <label>Role</label>
                  </div>
                  <div class="col-md-6">
                    <% if(data.role==2){ %>
                    <p>Mua hàng</p>
                    <%}%>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <% if(error){ %>
            <p class="inner" style="color: red;"><%= error %></p>
            <%}%>
          </div>
          <div class="col-md-3" style="margin-top: 30px;">
            <button type="submit" class="profile-edit-btn">
              Change
            </button>
          </div>
        </div>
      </form>
    </div>
  </body>
</html>
