<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>Basic 88</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="./stylesheets/layout.css" type="text/css" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
      integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
      crossorigin="anonymous"
    />
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
      integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
      crossorigin="anonymous"
    ></script>
    <!--[if lt IE 9]><script src="scripts/html5shiv.js"></script><![endif]-->
  </head>
  <body>
    <div class="container-fluid">
      <div class="wrapper row1">
        <header id="header" class="clear">
          <div id="hgroup">
            <h1><a href="#">Bit Online</a></h1>
            <h2>Best Online Auction Website In Vietnam</h2>
          </div>
          <nav>
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/login">Sign up/Sign in</a></li>
              <li><a href="#">Search</a></li>
            </ul>
          </nav>
        </header>
      </div>
      <!-- content -->
      <div class="wrapper row2">
        <div class="clear">
          <div class="row">
            <div class="col-sm-3">
              <div class="list-group">
                <a href="#" class="list-group-item disabled">Categories</a>
                <% categories.forEach(function(category){ %>
                <a href="/category=<%=category.id%>" class="list-group-item"
                  ><%= category.name %></a
                >
                <% }); %>
              </div>
            </div>

            <div class="col-sm-9">
              <a href="#" class="list-group-item disabled">Products</a>
              <div>
                <div id="products" class="row list-group">
                  <% bids.forEach(function(bid){ %>
                  <div class="item col-xs-3 col-lg-3" style="margin-top: 5px;">
                    <div class="thumbnail" style="min-height: 300px;">
                      <img
                        class="group list-group-image"
                        src="sp/2/1_thumbs.jpg"
                        alt=""
                      />
                      <div class="caption">
                        <h4 class="group inner list-group-item-heading">
                          <%= bid.name_product %>
                        </h4>
                        <p class="group inner list-group-item-text">
                          Price now
                        </p>
                        <div class="row">
                          <div class="col-xs-12 col-md-6">
                            <p class="lead">$100</p>
                          </div>
                          <div class="col-xs-12 col-md-6">
                            <a class="btn btn-success" href="/bid/<%= bid.id%>"
                              >View Details</a
                            >
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <% }); %>
                </div>
              </div>
              <nav aria-label="Page navigation center">
                <ul class="pagination">
                  <li>
                    <a href="#" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                    </a>
                  </li>
                  <li class="active"><a href="/page=1">1</a></li>
                  <li><a href="/page=2">2</a></li>
                  <li><a href="/page=3">3</a></li>
                  <li><a href="#">4</a></li>
                  <li><a href="#">5</a></li>
                  <li>
                    <a href="#" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
      <!-- Footer -->
      <div class="wrapper row3">
        <div id="footer" class="clear">
          <!-- Section One -->

          <!-- / Section -->
        </div>
      </div>
      <!-- Copyright -->
      <div class="wrapper row4">
        <footer id="copyright" class="clear">
          <p class="fl_left">
            Copyright &copy; 2018 - All Rights Reserved -
            <a href="#">Domain Name</a>
          </p>
          <p class="fl_right">
            Template by
            <a
              target="_blank"
              href="https://www.os-templates.com/"
              title="Free Website Templates"
              >OS Templates</a
            >
          </p>
        </footer>
      </div>
    </div>
  </body>
</html>
