<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link
      rel="stylesheet"
      href="./stylesheets/styles/bootstrap/bootstrap-4.3.1-dist/css/bootstrap.min.css"
    />
    <script src="./stylesheets/styles/bootstrap/bootstrap-4.3.1-dist/bootstrap.min.js"></script>
    <script src="./stylesheets/styles/bootstrap/bootstrap-4.3.1-dist/bootstrap.bundle.min.js"></script>
    <script
      src="https://kit.fontawesome.com/d69239854e.js"
      crossorigin="anonymous"
    ></script>

    <link rel="stylesheet" href="./stylesheets/login.css" type="text/css" />
    <title>Login</title>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
          <div class="card card-signin my-5">
            <div class="card-body">
              <h5 class="card-title text-center">Sign In</h5>
              <form class="form-signin" action="/login" method="post">
                <div class="form-label-group">
                  <input
                    type="email"
                    id="inputEmail"
                    class="form-control"
                    name="username"
                    placeholder="Email address"
                    required
                    autofocus
                  />
                  <label for="inputEmail">Email address</label>
                </div>

                <div class="form-label-group">
                  <input
                    type="password"
                    name="password"
                    id="inputPassword"
                    class="form-control"
                    placeholder="Password"
                    required
                  />
                  <label for="inputPassword">Password</label>
                </div>

                <div class="custom-control custom-checkbox mb-3">
                  <input
                    type="checkbox"
                    class="custom-control-input"
                    id="customCheck1"
                  />
                  <label class="custom-control-label" for="customCheck1"
                    >Remember password</label
                  >
                </div>
                <button
                  class="btn btn-lg btn-primary btn-block text-uppercase"
                  type="submit"
                >
                  Sign in
                </button>
                <a href="/register">
                  <button
                    class="btn btn-lg btn-primary btn-block text-uppercase"
                    type="button"
                    style="margin-top: 10px"
                  >
                    Register
                  </button>
                </a>

                <hr class="my-4" />
                <button
                  class="btn btn-lg btn-google btn-block text-uppercase"
                  type="submit"
                >
                  <i class="fab fa-google mr-2"></i> Sign in with Google
                </button>
                <button
                  class="btn btn-lg btn-facebook btn-block text-uppercase"
                  type="submit"
                >
                  <i class="fab fa-facebook-f mr-2"></i> Sign in with Facebook
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
