<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Profile</title>
    <link rel="stylesheet" href="../stylesheets/account.css" type="text/css" />
    <link rel="stylesheet" href="./stylesheets/layout.css" type="text/css" />
    <link
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
      rel="stylesheet"
      id="bootstrap-css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  </head>
  <body>
    <!------ Include the above in your HEAD tag ---------->
    <div class="wrapper row1">
      <header id="header" class="clear container">
        <div id="hgroup">
          <h1><a href="#">Bit Online</a></h1>
          <h2>Best Online Auction Website In Vietnam</h2>
        </div>
        <nav>
          <ul>
            <li><a href="/">Home</a></li>
            <% if(isLogin){ %>
            <li><%= isLogin %></li>
            <li><a href="/logout">Log Out</a></li>
            <%}%>
            <li><a href="#">Search</a></li>
          </ul>
        </nav>
      </header>
    </div>
    <!------ Include the above in your HEAD tag ---------->

    <div
      class="emp-profile"
      style="width: 70%; margin: auto; margin-top: 10px;"
    >
      <div class="row">
        <div class="col-md-7">
          <div class="profile-head">
            <h1
              style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;"
            >
              <%= data.fullname%>
            </h1>

            <ul class="nav nav-tabs" id="myTab" role="tablist">
              <li class="nav-item">
                <a
                  class="nav-link active"
                  id="home-tab"
                  data-toggle="tab"
                  href="#home"
                  role="tab"
                  aria-controls="home"
                  aria-selected="true"
                  >About</a
                >
              </li>

              <!------ Include the above in your TAB tag ---------->
              <% if(data.role==0){ %>
              <li class="nav-item">
                <a
                  class="nav-link"
                  id="profile-tab"
                  data-toggle="tab"
                  href="#profile"
                  role="tab"
                  aria-controls="profile"
                  aria-selected="true"
                  >Grant Permission</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  id="profile-tab"
                  data-toggle="tab"
                  href="#manage"
                  role="tab"
                  aria-controls="manage"
                  aria-selected="true"
                  >Manage Account</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  id="profile-tab"
                  data-toggle="tab"
                  href="#categories"
                  role="tab"
                  aria-controls="categories"
                  aria-selected="true"
                  >Categories</a
                >
              </li>
              <%} else if(data.role==2){%>
              <li class="nav-item">
                <a
                  class="nav-link"
                  id="profile-tab"
                  data-toggle="tab"
                  href="#like"
                  role="tab"
                  aria-controls="like"
                  aria-selected="true"
                  >SP yêu thích</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  id="profile-tab"
                  data-toggle="tab"
                  href="#bidding"
                  role="tab"
                  aria-controls="bidding"
                  aria-selected="true"
                  >SP Bidding</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  id="profile-tab"
                  data-toggle="tab"
                  href="#won"
                  role="tab"
                  aria-controls="won"
                  aria-selected="true"
                  >SP Won</a
                >
              </li>
              <%} else if(data.role==1){%>
              <li class="nav-item">
                <a
                  class="nav-link"
                  id="profile-tab"
                  data-toggle="tab"
                  href="#selling"
                  role="tab"
                  aria-controls="selling"
                  aria-selected="true"
                  >Đang bán</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  id="profile-tab"
                  data-toggle="tab"
                  href="#sold"
                  role="tab"
                  aria-controls="sold"
                  aria-selected="true"
                  >Đã bán</a
                >
              </li>
              <%}%>
              <!------ Include the above in your TAB tag ---------->
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="tab-content profile-tab" id="myTabContent">
            <div
              class="tab-pane fade show active"
              id="home"
              role="tabpanel"
              aria-labelledby="home-tab"
            >
              <div class="row">
                <div class="col-md-6">
                  <label>Fullname</label>
                </div>
                <div class="col-md-6">
                  <p><%= data.fullname%></p>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <label>Email</label>
                </div>
                <div class="col-md-6">
                  <p><%= data.email%></p>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <label>Birthday</label>
                </div>
                <div class="col-md-6">
                  <p><%= data.birthday%></p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <label>Role</label>
                </div>
                <div class="col-md-6">
                  <% if(data.role==2){ %>
                  <p>
                    Bidder<% if(check == true){ %> (Đã xin lên Seller) <%}%>
                  </p>
                  <%}else if(data.role == 0){%>
                  <p>
                    Quản trị viên
                  </p>
                  <%}else if(data.role == 1){%>
                  <p>
                    Seller
                  </p>
                  <%}%>
                </div>
                <div class="col-md-6" style="margin-top: 30px;">
                  <% if(data.role==2 && check == false){ %>
                  <form action="/profile" method="post">
                    <button type="submit" class="profile-edit-btn">
                      Upgrade to become Seller
                    </button>
                  </form>
                  <%}%>
                </div>

                <div class="col-md-3" style="margin-top: 30px;">
                  <a href="/editProfile">
                    <button type="button" class="profile-edit-btn">
                      Edit Profile
                    </button>
                  </a>
                </div>
                <div class="col-md-3" style="margin-top: 30px;">
                  <a href="/changepass">
                    <button type="button" class="profile-edit-btn">
                      Change Password
                    </button>
                  </a>
                </div>
              </div>
            </div>

            <!------ Include the above in your OPTION TAB tag ---------->
            <% if(data.role==0){ %>
            <div
              class="tab-pane fade"
              id="profile"
              role="tabpanel"
              aria-labelledby="profile-tab"
            >
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">Email</th>
                  </tr>
                </thead>
                <tbody>
                  <%emails.forEach(email=>{%>
                  <tr>
                    <td><%=email.email%></td>
                    <td>
                      <button type="button" onclick="Accept('<%=email.id%>')"> Accept
                      </button>
                    </td>
                  </tr>
                  <%})%>
                </tbody>
              </table>
            </div>
            <div
              class="tab-pane fade"
              id="manage"
              role="tabpanel"
              aria-labelledby="profile-tab"
            >
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">Email</th>
                    <th scope="col">Birthday</th>
                    <th scope="col">Fullname</th>
                    <th scope="col">Role</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <%lsAcc.forEach(acc=>{%>
                  <tr>
                    <td><%=acc.email%></td>
                    <td><%=acc.birthday%></td>
                    <td><%=acc.fullname%></td>
                    <%if(acc.role==2){%>
                    <td>Bidder</td>
                    <td></td>
                    <%} else if(acc.role==1){%>
                    <td>Seller</td>
                    <td>
                      <button
                        type="button"
                        onclick="Reduction('<%= acc.email%>')"
                      > Hạ quyền
                      </button>
                    </td>
                    <%}%>
                  </tr>
                  <%});%></tbody>
              </table>
            </div>
            <div
              class="tab-pane fade"
              id="categories"
              role="tabpanel"
              aria-labelledby="profile-tab"
            >
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col"></th> <th></th>
                  </tr>
                </thead>
                <tbody>
                  <%lsCate.forEach(acc=>{%>
                  <tr>
                    <td><%=acc.name%></td>
                    <td>
                      <button>Edit</button>
                    </td>
                    <td>
                      <button>Del</button>
                    </td> </tr>
                  <%})%>
                </tbody>
              </table>
            </div>
            <%}else if(data.role==2){%>
            <div
              class="tab-pane fade"
              id="like"
              role="tabpanel"
              aria-labelledby="profile-tab"
            >
              <h1>Tính năng xem sản phẩm yếu thích sắp ra mắt!</h1>
            </div>
            <div
              class="tab-pane fade"
              id="bidding"
              role="tabpanel"
              aria-labelledby="profile-tab"
            >
              <h1>Tính năng xem sản phẩm đang đấu giá ra mắt!</h1>
            </div>
            <div
              class="tab-pane fade"
              id="won"
              role="tabpanel"
              aria-labelledby="profile-tab"
            >
              <h1>
                Tính năng xem sản phẩm đã đấu giá thành công sắp ra mắt!
              </h1>
            </div>
            <%}else if(data.role==1){%>
            <div
              class="tab-pane fade"
              id="selling"
              role="tabpanel"
              aria-labelledby="profile-tab"
            >
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">Name Product</th>
                    <th scope="col">Start Time</th>
                    <th scope="col">End Time</th>
                    <th scope="col">Start Price</th>
                    <th scope="col">Now Price</th>
                    <th scope="col">End Price</th>
                  </tr>
                </thead>
                <tbody>
                  <%bids.forEach(bid=>{%>
                  <tr>
                    <td><%=bid.name_product%></td>
                    <td><%=bid.start_time%></td>
                    <td><%=bid.end_time%></td>
                    <td><%=bid.start_price%></td>
                    <td><%=bid.now_price%></td>
                    <td><%=bid.end_price%></td>
                  </tr>
                  <%});%>
                </tbody>
              </table></div>
            <div
              class="tab-pane fade"
              id="sold"
              role="tabpanel"
              aria-labelledby="profile-tab"
            >
              <h1>Tính năng xem sản phẩm đã bán giá ra mắt!</h1>
            </div>
            <%}%>
            <!------ Include the above in your OPTION TAB tag ---------->
          </div>
        </div>
      </div>
    </div>

    <script>
      function Accept(userID) {
        $.ajax({
          url: `profile/grantRole/${userID}`,
          type: "DELETE",
          success: function(data) {
            setTimeout(location.reload(), 500);
          }
        });
      }

      function Reduction(email) {
        $.ajax({
          url: `profile/reduction/${email}`,
          type: "PUT",
          data: `email=${email}`,
          success: function(data) {
            // if true (1)
            setTimeout(function() {
              // wait for 5 secs(2)
              location.reload(); // then reload the page.(3)
            }, 500);
          }})} </script>
  </body>
</html>
