<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link
      rel="stylesheet"
      href="./stylesheets/styles/bootstrap/bootstrap-4.3.1-dist/css/bootstrap.min.css"
    />
    <script src="./stylesheets/styles/bootstrap/bootstrap-4.3.1-dist/bootstrap.min.js"></script>
    <script src="./stylesheets/styles/bootstrap/bootstrap-4.3.1-dist/bootstrap.bundle.min.js"></script>
    <script
      src="https://kit.fontawesome.com/d69239854e.js"
      crossorigin="anonymous"
    ></script>

    <link rel="stylesheet" href="./stylesheets/login.css" type="text/css" />
    <title>Login</title>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
          <div class="card card-signin my-5">
            <div class="card-body">
              <h5 class="card-title text-center">Register</h5>
              <form class="form-signin" action="/register" method="post">
                <div class="form-label-group">
                  <input
                    type="email"
                    id="inputEmail"
                    class="form-control"
                    name="email"
                    placeholder="Email address"
                    required
                    autofocus
                  />
                  <label for="inputEmail">Email address</label>
                </div>

                <div class="form-label-group">
                  <input
                    type="password"
                    name="password"
                    id="inputPassword"
                    class="form-control"
                    placeholder="Password"
                    required
                  />
                  <label for="inputPassword">Password</label>
                </div>

                <div class="form-label-group">
                  <input
                    type="date"
                    name="birthday"
                    id="inputBirthday"
                    class="form-control"
                    placeholder="Birthday"
                    required
                  />
                  <label for="inputBirthday">Birthday</label>
                </div>

                <div class="form-label-group">
                  <input
                    type="text"
                    name="fullname"
                    id="inputFullname"
                    class="form-control"
                    placeholder="Fullname"
                    required
                  />
                  <label for="inputFullname">Fullname</label>
                </div>

                <button
                  class="btn btn-lg btn-primary btn-block text-uppercase"
                  type="submit"
                >
                  Register
                </button>
                <hr class="my-4" />
                <% if(error){ %>
                <p class="inner" style="color: red;"><%= error %></p>
                <%}%>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
